{{- /* Extends Hextra's footer with custom powered by text */ -}}
{{- $displayCopyright := .Site.Params.footer.displayCopyright | default true -}}
{{- $displayPoweredBy := .Site.Params.footer.displayPoweredBy | default true -}}
<footer class="hextra-footer hx:pb-[env(safe-area-inset-bottom)] hx:relative hx:z-10 hx:bg-gray-100 hx:dark:bg-neutral-900">
  <div class="hextra-custom-footer hextra-max-footer-width hx:pl-[max(env(safe-area-inset-left),1.5rem)] hx:pr-[max(env(safe-area-inset-right),1.5rem)] hx:text-gray-600 hx:dark:text-gray-400"></div>
  <div
      class="hextra-max-footer-width hx:mx-auto hx:flex hx:justify-center hx:py-12 hx:pl-[max(env(safe-area-inset-left),1.5rem)] hx:pr-[max(env(safe-area-inset-right),1.5rem)] hx:text-gray-600 hx:dark:text-gray-400 hx:md:justify-start"
    >
      <div class="hx:flex hx:w-full hx:flex-col hx:items-center hx:sm:items-start">
        {{- if $displayPoweredBy }}
        <div class="hx:font-semibold">
          <a class="hx:flex hx:text-sm hx:items-center hx:gap-1 hx:text-current" target="_blank" rel="noopener noreferrer" href="https://github.com/modelgate/modelgate">
            <span>ModelGate</span>
          </a>
        </div>
        {{- end }}
        {{- if $displayCopyright }}
        <div class="hx:mt-6 hx:text-xs">© {{ now.Year }} ModelGate.</div>
        {{- end }}
      </div>
    </div>
</footer>
